body{
    width: 1150px;
    display: flex;
    flex-wrap: wrap;
}
img{
    width: 200px;
    height: 200px;
    margin-right: 30px;
    margin-top: 50px;
}
p{
    width: 200px;
    cursor:pointer;

}

